<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <h2>Demo Thymeleaf + Spring OAuth2</h2>
    <div class="content">
        <div th:if="${message}" class="content">
            <p th:text="${message}"></p>
            <p>
                <strong>Username</strong>: <span th:text="${username}"></span>
            </p>
            <p>
                <strong>Email</strong>: <span th:text="${email}"></span>
            </p>
            <p th:if="${authorities}">
                <strong>Authorities</strong>: <span th:text="${authorities}"></span>
            </p>
        </div>
        <div th:if="${token}" class="content">
            <p><strong>Token info</strong>:</p>
            <ul>
                <li th:each="entry : ${token.getPrincipal().getAttributes().entrySet()}"
                    th:text="|${entry.key}: ${entry.value}|"></li>
            </ul>
        </div>
        <a th:href="@{/user/logout}">Logout</a>
    </div>

</body>

</html>