<div *ngIf="!(auth.isLoggedIn$ | async)">
  <button (click)="login()">Login</button>
</div>

<div *ngIf="auth.isLoggedIn$ | async">
  <button (click)="logout()">Logout</button>
  <div>
    <a href="/customers">Customers</a>
  </div>
  <div>
    <div>User: {{ auth.userProfile?.name }}</div>
    <div>Preferred username: {{ auth.userProfile?.preferred_username }}</div>
  </div>
  <div>
    OIDC User Profile:
    <pre>
    <code>{{ auth.userProfile | json }}</code>
  </pre>
  </div>
  <div>
    Token:
    <code>
    {{auth.token}}
  </code>
  </div>
</div>

<router-outlet />